<div [formGroup]="parentFormGroup">
    <label [for]="controlName" class="block text-sm font-medium text-gray-700">{{ label }}</label>
    <ng-select
      [dropdownPosition]="'bottom'"
      [appendTo]="'body'" 
      [id]="controlName" 
      [formControlName]="controlName" 
      class="bg-white mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
      <ng-option value="">-- Select an Employee --</ng-option>
      <ng-option *ngFor="let employee of employes | async" [value]="employee.id">{{ employee.firstName }} {{ employee.lastName }}</ng-option>
    </ng-select>
    <div *ngIf="parentFormGroup.get(controlName)?.invalid && parentFormGroup.get(controlName)?.touched" class="text-red-600">Please select an employee</div>
</div>
  