<ng-template #pdfTemplate *ngIf="employeSalaryData"> 
  <div style="display: flex; flex-direction: column; gap: 1rem;" >
    <div style="display: flex; justify-content: space-between;">
      <div>
        <h3>Podaci o poslodavcu</h3>
        <p>MITROSREM</p>
        <p>SREM.MITROVICA</p>
        <p>TRG VOJVODJANSKIH BRIGADA 3</p>
        <p>PIB : 10091677</p>
        <p>MB : 91064225</p>
        <p>BANKA INTESA : 890-361442-11</p>
      </div>
      <div>
        <h3 class="bg-red-600">Employe Details</h3>
        <app-employe-salary-employe-detail [isDetail]="true" [isPdf]="true"></app-employe-salary-employe-detail>
      </div>
    </div>
    <h2 style="text-align: center;">OBRACUN ZARADE I NAKNADE ZARADE (procenat za isplatu 100.00%)</h2>
    <div style="display: flex; justify-content: space-between;">
      <p>Obracun za : MAJ 2024.</p>
      <p>Radjen dana: 28.06.2024</p>
      <p>Sati u mesecu: <span style="font-weight: bold;">{{employeSalaryData.totalNumberOfHours}}h</span></p>
      <p>Vrednost sata: <span style="font-weight: bold;">{{hourlyRate}}din</span></p>
    </div>
    <div style="display:flex; justify-content: space-between;">
      <div>
        <app-employe-salary-detail-hours [employeSalaryData]="employeSalaryData"></app-employe-salary-detail-hours>
      </div>
      <div *ngIf="employeSalaryData.incomeFromWork">
        <app-employe-salary-detail-ifw [incomeFromWork]="employeSalaryData.incomeFromWork"></app-employe-salary-detail-ifw>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">    
      <div *ngIf="employeSalaryData.employeSalarySO">
        <app-employe-salary-detail-so [employeSalarySO]="employeSalaryData.employeSalarySO"></app-employe-salary-detail-so>
      </div>
      <div *ngIf="employeSalaryData.employeSalarySOE">
        <app-employe-salary-detail-soe [employeSalarySOE]="employeSalaryData.employeSalarySOE"></app-employe-salary-detail-soe>
      </div>
    </div>
  </div>
</ng-template>
<div>
  <button (click)="generatePdf()">Generate PDF</button>
</div>