<ng-template #pdfTemplate *ngIf="employeSalaryData"> 
  <app-employe-salary-pdf-item 
    [employeSalaryData]="employeSalaryData" 
    [hourlyRate]="hourlyRate">
  </app-employe-salary-pdf-item>
</ng-template>

<button (click)="onOpenPreview()">Preview</button>

<dialog #previewSalaryPdf class="previewSalaryPdfModal">
  <div class="flex flex-col gap-4 p-2 md:p-7 relative">
    <button 
      (click)="onClosePreviewDetailModal()" 
      class="absolute top-2 right-2 bg-rose-600 text-white rounded-md w-8 aspect-square border-2 border-black flex items-center justify-center" >
      <span class="font-bold">X</span>
    </button>
      <div>
        <app-employe-salary-pdf-item 
          [employeSalaryData]="employeSalaryData" 
          [hourlyRate]="hourlyRate">
        </app-employe-salary-pdf-item>
      </div>
      <div class="flex justify-center items-center">
        <button class="bg-indigo-600 text-white px-4 py-2 rounded-md" (click)="generatePdf()">Generate PDF</button>
      </div>
  </div>
</dialog>

