<div *ngIf="employes | async as e; else loading" class="grid grid-rows-[auto,auto,1fr,auto] h-full gap-2.5  p-5 md:gap-5">
  <div row>
    <app-filter 
      [queryParamsSubject]="this.employeService.employeQuearyParamsSubject"
      [filterParams]="this.employeService.getEmployeCheckBoxes()"
      [searchSubject]="this.employeService.employeSearchSubject"
      [currentSubject]="this.employeService.employeCurrentSubject">
    </app-filter>
  </div>
  <div class="grid grid-rows-2 gap-2.5 md:grid-rows-1 md:grid md:grid-cols-10 md:gap-1.5 xl:grid xl:grid-cols-4 xl:gap-5">
    <div class="hidden md:block order-2 md:order-1 w-full h-full md:col-span-3 xl:col-auto">
      <button 
        class="w-full h-full border rounded-md  bg-indigo-600 text-white" 
        routerLink="/employes/employe/add-employe">
        Add Employe
      </button>
    </div>
    <div class="order-1 md:order-2 md:col-span-4 xl:col-span-2">
      <app-search 
        [queryParamsSubject]="this.employeService.employeQuearyParamsSubject" 
        [filterParams]="this.employeService.getEmployeCheckBoxes()"
        [searchSubject]="this.employeService.employeSearchSubject"
        [currentSubject]="this.employeService.employeCurrentSubject">
      </app-search>
    </div>
    <div class="order-3 grid grid-cols-9 gap-2.5 md:grid md:grid-cols-5 md:col-span-3 md:gap-1.5 xl:grid xl:grid-cols-2 xl:col-auto xl:gap-5">
      <div class="col-span-4 md:col-span-3 xl:col-auto">
        <app-show-items-per-page
          [itemsPerPage]="[8,16,32]" 
          [textColor]="'white'" 
          [bgButton]="'indigo-600'"
          [hbutton]="8"
          [queryParamsSubject]="this.employeService.employeQuearyParamsSubject">
        </app-show-items-per-page>
      </div>
      <div class="col-span-2 md:col-span-2 xl:col-auto">
        <app-enter-per-page 
          [queryParamsSubject]="this.employeService.employeQuearyParamsSubject"
          [valueAfterReset]="8"></app-enter-per-page>
      </div>
      <div class="col-span-3 block md:hidden order-2 md:order-1 w-full h-full md:col-span-3 xl:col-auto">
        <button 
          class="w-full h-full border rounded-md  bg-indigo-600 text-white" 
          routerLink="/employes/employe/add-employe">
          Add Employe
        </button>
      </div>
    </div>
  </div>
  <div class="w-full h-full">
    <div class="h-full flex flex-col md:grid md:grid-cols-2 xl:grid xl:grid-cols-4 gap-4">
      <ng-container *ngFor="let employe of e">
        <app-employe-item 
          [employe]="employe" 
          [forImageHeight]="true" 
          [showModalInDetail]="true">
        </app-employe-item>
      </ng-container>
    </div>   
  </div>
  <div>
    <app-paganation 
      [queryParamsSubject]="this.employeService.employeQuearyParamsSubject"
      [currentSize]="this.employeService.currentSize"
      [isNula]="employeService.isNula">
    </app-paganation>
  </div>
</div>

<ng-container *ngIf="this.employeService.employeSubject.value !== null">
  <app-employe-modal [isDetail]="true"></app-employe-modal>
</ng-container>

<ng-template #loading>
  <app-spinner [loading]="true"></app-spinner>
</ng-template>