<div class="grid grid-rows-[auto,auto,1fr,auto] h-full  p-5 gap-5">
  <div row>
    <app-filter 
      [queryParamsSubject]="this.employeService.employeQuearyParamsSubject"
      [employeParams]="this.employeService.getEmployeParams()"
      [searchSubject]="this.employeService.employeSearchSubject">
    </app-filter>
  </div>
  <div class="grid grid-cols-4 gap-5">
    <div class="w-full h-full">
      <button class="w-full h-full border  rounded-md  bg-indigo-600 text-white" routerLink="/employes/employe/add-employe">Add Employe</button>
    </div>
    <div class="col-span-2 gap-5">
      <app-search 
        [queryParamsSubject]="this.employeService.employeQuearyParamsSubject" 
        [employeParams]="this.employeService.getEmployeParams()"
        [searchSubject]="this.employeService.employeSearchSubject">
      </app-search>
    </div>
    <div>
      <app-show-items-per-page
        [itemsPerPage]="[8,16,32]" 
        [textColor]="'white'" 
        [bgButton]="'indigo-600'"
        [hbutton]="8"
        [queryParamsSubject]="this.employeService.employeQuearyParamsSubject"
        [valueAfterReset]="8">
      </app-show-items-per-page>
    </div>
  </div>
  <div class="w-full h-full">
    <div>
      <div class="h-full flex flex-col md:grid md:grid-cols-2 xl:grid xl:grid-cols-4 gap-4">
        <ng-container *ngFor="let employe of employes | async">
          <app-employe-item [employe]="employe" [hEmployePicture]="'25dvh'" [showModal]="false" [showModalInDetail]="true"></app-employe-item>
        </ng-container>
        <app-employe-modal [isDetail]="true"></app-employe-modal>
      </div>   
    </div>
  </div>
  <div>
    <app-paganation 
      [queryParamsSubject]="this.employeService.employeQuearyParamsSubject"
      [currentSize]="this.employeService.currentSize"
      [isNula]="employeService.isNula">
    </app-paganation>
  </div>
</div>






<!-- 
<div class="grid grid-rows-[auto,auto,1fr,auto] h-full p-5 gap-5">
  <div>
    <app-employe-filter></app-employe-filter>
  </div>
  <div class="grid grid-cols-4 gap-4 w-full">
    <div class="w-full">
      <app-show-items-per-page
        [itemsPerPage]="[8,16,32]" 
        [textColor]="'white'" 
        [bgButton]="'indigo-600'"
        [queryParamsSubject]="this.employeService.employeQuearyParamsSubject">
      </app-show-items-per-page>
    </div>
    <div class="grid grid-cols-2 gap-5">
      <app-employe-search></app-employe-search>
      <div class="w-full h-full">
        <button class="w-full h-full border p-1.5 rounded-md  bg-indigo-600 text-white" routerLink="/employes/employe/add-employe">Add Employe</button>
      </div>
    </div>
  </div>
  <div>
    <app-employe-list></app-employe-list>
  </div>
  <div>
    <app-employe-paganation></app-employe-paganation>
  </div>
</div> -->

