<div *ngIf="employeSalary | async as employeSalaryData" class="h-fullgrid grid-rows-[auto,1fr]">
  <h3 class="text-center text-xl p-5">Employee Salary Details</h3>
  <div id="pdf-content" class="grid grid-cols-[0.5fr,1fr] gap-5 h-full px-5">
    <div class="grid grid-rows-[1fr,auto] gap-5 h-fit">
      <div>
        <app-employe-item 
          [employe]="employe" 
          [showModalInDetail]="false">
        </app-employe-item>
      </div>
      <div *ngIf="employe.id && employeSalaryId">
        <app-employe-salary-action 
          [employeId]="employe.id" 
          [employeSalaryId]="employeSalaryId">
        </app-employe-salary-action>
      </div>
    </div>
    <div class="grid grid-rows-[auto,1fr,auto]">
      <div *ngIf="employeSalarys | async as es">
        <app-employe-salarys-select 
          [employeSalarys]="es" 
          [employeSalaryId]="employeSalaryId"
          [calculationMonth]="employeSalaryData.calculationMonth"
          [fullName]="employe.firstName + ' ' + employe.lastName">
        </app-employe-salarys-select>
      </div>
      <div class="grid grid-rows-2 gap-5 h-full">
        <div class="grid grid-cols-2 gap-5">
          <div>
            <app-employe-salary-detail-hours 
              [employeSalaryData]="employeSalaryData"
              [showClass]="true">
            </app-employe-salary-detail-hours>
          </div>
          <div *ngIf="employeSalaryData.incomeFromWork">
            <app-employe-salary-detail-ifw 
              [incomeFromWork]="employeSalaryData.incomeFromWork"
              [showClass]="true">
            </app-employe-salary-detail-ifw>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-5">
          <div *ngIf="employeSalaryData.employeSalarySOE">
            <app-employe-salary-detail-soe 
              [employeSalarySOE]="employeSalaryData.employeSalarySOE"
              [showClass]="true">
            </app-employe-salary-detail-soe>
          </div>
          <div class="grid grid-rows-[auto,1fr]">
            <div *ngIf="employeSalaryData.employeSalarySO">
              <app-employe-salary-detail-so 
                [employeSalarySO]="employeSalaryData.employeSalarySO"
                [showClass]="true">
              </app-employe-salary-detail-so>
            </div>
            <div class="grid justify-end items-center">
              <div class="">
                <app-employe-salary-pdf 
                  [employeSalaryData]="employeSalaryData" 
                  [hourlyRate]="hourlyRate"
                  [imeIprz]="nazivPdfa">
                </app-employe-salary-pdf>
              </div>
            </div>
          </div>
        </div>
      </div>
     <div>
      Viseci
     </div>
    </div>
  </div>
</div>
