<div class="grid grid-rows-[auto,1fr,auto] h-[100dvh]">
    <div class="bg-indigo-600 p-3 text-center text-white">Banks Header</div>
    <div class="grid grid-rows-[auto,1fr] h-full w-[80%] mx-auto bg-slate-100 p-5 gap-5">
        <div class="flex">
            <button (click)="prikaziDetalje()" class="px-5 py-2 bg-indigo-600 rounded-md text-white">Dodaj banku</button>
        </div>
       <div [ngClass]="{'grid-cols-2' : showDetails == true}" class="grid  gap-5">
        <div class="flex flex-col gap-5">
            <div class="border border-indigo-600 p-2 flex flex-col justify-between" *ngFor="let bank of banks | async">
                <p class="flex justify-between"><strong>Ime banke</strong>{{bank.bankName}}</p>
                <p class="flex justify-between"><strong>Broj racuna</strong>{{bank.bankAccount}}</p>
                <p class="flex justify-between"><strong>Email adresa</strong>{{bank.bankEmail}}</p>
            </div>
        </div>
        <ng-container *ngIf="showDetails == true">
           <p class="text-center">Ovde ce ici forma za dodavanje i editovanje</p>
        </ng-container>
       </div>
    </div>

    <div class="bg-indigo-600 p-3 text-center text-white">Banks Footer</div>
</div>

