<div class="grid grid-rows-[auto,1fr] gap-5 h-full">
    <h2 class="text-xl text-center pt-5">Svi godisnji odmori</h2>
    <div class="grid grid-rows-[auto,1fr,auto] h-full gap-3 px-4 pb-4">
        <div class="grid grid-cols-4 gap-5">
            <div class="grid grid-cols-2 gap-5">
                <div class="w-full h-full">
                    <button 
                        class="w-full h-full border rounded-md  bg-indigo-600 text-white" 
                        routerLink="/employes/annual-leave/create-annual-leave">
                        Add Annual Leave
                    </button>
                </div>
                <div>
                    <app-filter 
                        [queryParamsSubject]="this.annualleaveService.annualleaveQuearyParamsSubject"
                        [employeParams]="this.annualleaveService.getAnnualLeaveParams()"
                        [searchSubject]="this.annualleaveService.annualleaveSearchSubject">
                    </app-filter>
                </div>
            </div>
            <div class="col-span-2">
                <app-search 
                    [queryParamsSubject]="this.annualleaveService.annualleaveQuearyParamsSubject" 
                    [employeParams]="this.annualleaveService.getAnnualLeaveParams()"
                    [searchSubject]="this.annualleaveService.annualleaveSearchSubject">
                </app-search>
            </div>
            <div>
                <app-show-items-per-page
                    [itemsPerPage]="[9,18,36]" 
                    [textColor]="'white'" 
                    [bgButton]="'indigo-600'"
                    [hbutton]="8"
                    [queryParamsSubject]="this.annualleaveService.annualleaveQuearyParamsSubject"
                    [valueAfterReset]="9">
                </app-show-items-per-page>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-x-5 h-fit">
            <fieldset 
                (click)="onOpenAlModal(al)"
                *ngFor="let al of (annualleave | async)" 
                class="bg-white shadow-md border border-indigo-600 rounded-md px-5 pt-5">
                <legend class="text-xl font-bold text-center">
                    <app-employe-salary-employe-detail 
                        [employeId]="al.employeId" 
                        [isPdf]="false" 
                        [isDetail]="false"
                        [showBankInfo]="false">
                    </app-employe-salary-employe-detail>
                </legend>
               <div>
                    <app-annual-leave-item 
                        [annualLeave]="al"
                        [isDetail]="false">
                    </app-annual-leave-item>
               </div>
            </fieldset>
        </div>
        <div>
            <app-paganation 
                [queryParamsSubject]="this.annualleaveService.annualleaveQuearyParamsSubject"
                [currentSize]="this.annualleaveService.currentSize"
                [isNula]="annualleaveService.isNula">
          </app-paganation>
        </div>
    </div>
</div>

<ng-container *ngIf="annualleaveService.currentAnnualLeaveSubject.value !== null">
    <app-annual-leave-modal (deletedAction)="onUpdateAL($event)"></app-annual-leave-modal>
</ng-container>

<dialog #messageModal class="modal">
    <div class="flex flex-col gap-3 p-5">
        <h2 class="text-center font-bold">{{message}}</h2>
        <div class="flex justify-center items-center">
            <button class="bg-red-600 rounded-md text-white px-6 py-1.5" (click)="onCloseMessageModal()">Close</button>
        </div>
    </div>
</dialog>