<div class="grid grid-rows-[auto,1fr] gap-5 h-full">
    <h2 class="text-xl text-center pt-5">Svi godisnji odmori</h2>
    <div class="grid grid-rows-[auto,1fr,auto] h-full ">
        <div class="grid grid-cols-2">
            <div class="w-full h-full">
                <button 
                    class="w-full h-full border rounded-md  bg-indigo-600 text-white" 
                    routerLink="/employes/annual-leave/create-annual-leave">
                    Add Annual Leave
                </button>
            </div>
            <div>Search filter</div>
        </div>
        <div class="grid grid-cols-3 gap-5 p-5 justify-center items-center">
            <fieldset 
                routerLink="/employes/annual-leave/update-annual-leave/{{al.annualLeaveId}}" 
                *ngFor="let al of (annualleave | async | slice:0:9)" 
                class="bg-white shadow-md border border-gray-300 rounded-md p-4">
                <legend class="text-xl font-bold text-center">
                    <app-employe-salary-employe-detail 
                        [employeId]="al.employeId" 
                        [isPdf]="false" 
                        [isDetail]="false"
                        [showBankInfo]="false">
                    </app-employe-salary-employe-detail>
                </legend>
               <div>
                    <app-annual-leave-item 
                        [annualLeave]="al"
                        [isDetail]="false">
                    </app-annual-leave-item>
               </div>
            </fieldset>
        </div>
        <div>Paganacija</div>
    </div>
</div>

