<div *ngIf="annualleaves | async as al; else loading" class="grid grid-rows-[auto,1fr] gap-3 h-full ">
    <h2 class="text-xl text-center pt-3">Svi godisnji odmori</h2>
    <div class="grid grid-rows-[auto,1fr,auto] h-full gap-3 px-4 pb-4">
        <div class="grid grid-cols-4 gap-3 items-center">
            <div class="grid grid-cols-2 gap-3">
                <div class="w-full h-full">
                    <button 
                        class="w-full h-full border rounded-md  bg-indigo-600 text-white" 
                        routerLink="/employes/annual-leave/create-annual-leave">
                        Add Annual Leave
                    </button>
                </div>
                <div>
                    <app-filter 
                        [queryParamsSubject]="this.annualleaveService.annualleaveQuearyParamsSubject"
                        [filterParams]="this.annualleaveService.getAnnualLeaveCheckBox()"
                        [searchSubject]="this.annualleaveService.annualleaveSearchSubject"
                        [currentSubject]="this.annualleaveService.annualleaveCurrentSubject">
                    </app-filter>
                </div>
            </div>
            <div class="col-span-2">
                <app-search 
                    [queryParamsSubject]="this.annualleaveService.annualleaveQuearyParamsSubject" 
                    [filterParams]="this.annualleaveService.getAnnualLeaveCheckBox()"
                    [searchSubject]="this.annualleaveService.annualleaveSearchSubject"
                    [currentSubject]="this.annualleaveService.annualleaveCurrentSubject">
                </app-search>
            </div>
            <div class="grid grid-cols-2 gap-5">
                <div>
                    <app-show-items-per-page
                        [itemsPerPage]="[12,24,36]" 
                        [textColor]="'white'" 
                        [bgButton]="'indigo-600'"
                        [hbutton]="8"
                        [queryParamsSubject]="this.annualleaveService.annualleaveQuearyParamsSubject">
                    </app-show-items-per-page>
                </div>
                <div class="h-full">
                    <app-enter-per-page 
                      [queryParamsSubject]="this.annualleaveService.annualleaveQuearyParamsSubject"  
                      [valueAfterReset]="15">
                    </app-enter-per-page>
                </div>
            </div>
        </div>
        <div class="grid md:grid md:grid-cols-2 xl:grid xl:grid-cols-3 gap-x-3 h-fit">
            <fieldset 
                (click)="onOpenAlModal(annualleave)"
                *ngFor="let annualleave of al " 
                class="bg-white shadow-md border border-indigo-600 rounded-md px-3 pt-3 hover:bg-indigo-400 hover:cursor-pointer hover:shadow-black hover:shadow hover:scale-105 group transition-all duration-700 ease-in-out">
                <legend class="text-xl font-bold text-center text-indigo-600 group-hover:text-black">
                    <app-employe-salary-employe-detail 
                        [employeId]="annualleave.employeId" 
                        [isPdf]="false" 
                        [isDetail]="false"
                        [showBankInfo]="false">
                    </app-employe-salary-employe-detail>
                </legend>
               <div>
                    <app-annual-leave-item 
                        [annualLeave]="annualleave"
                        [isDetail]="false">
                    </app-annual-leave-item>
               </div>
            </fieldset>
        </div>
        <div>
            <app-paganation 
                [queryParamsSubject]="this.annualleaveService.annualleaveQuearyParamsSubject"
                [currentSize]="this.annualleaveService.currentSize"
                [isNula]="annualleaveService.isNula">
          </app-paganation>
        </div>
    </div>
</div>

<ng-container *ngIf="annualleaveService.currentAnnualLeaveSubject.value !== null">
    <app-annual-leave-modal (deletedAction)="onUpdateAL($event)"></app-annual-leave-modal>
</ng-container>

<ng-template #loading>
    <app-spinner [loading]="true"></app-spinner>
</ng-template>

<dialog #messageModal class="modal">
    <div class="flex flex-col gap-3 p-3">
        <h2 class="text-center font-bold">{{message}}</h2>
        <div class="flex justify-center items-center">
            <button class="bg-red-600 rounded-md text-white px-6 py-1.3" (click)="onCloseMessageModal()">Close</button>
        </div>
    </div>
</dialog>