<div class="flex w-full justify-between text-{{textColor}}">
    <div class="flex items-center justify-center shadow shadow-black bg-{{bgButton}} h-{{hbutton}} aspect-square p-1 rounded-md">
        <svg
            (click)="onChangeSortDirection()" 
            *ngIf="!isAscending" 
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="2.5" 
            stroke="currentColor" 
            class="size-6">
            <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                d="M8.25 6.75 12 3m0 0 3.75 3.75M12 3v18" />
        </svg>
        <svg
            (click)="onChangeSortDirection()"  
            *ngIf="isAscending" 
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="2.5" 
            stroke="currentColor" 
            class="size-6">
            <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
        </svg>  
    </div>
    <ng-container *ngFor="let item of itemsPerPage">
        <button  
            class="shadow shadow-black bg-{{bgButton}} h-{{hbutton}}  aspect-square p-1 rounded-md"  
            (click)="onChangeItemPerPage(item)">
            {{item}} 
        </button>
    </ng-container>
</div>
