<div [ngClass]="{'border': showClass, 'border-indigo-600': showClass, 'rounded-md': showClass}">
    <h3 
      style="text-align: center;"
      class="text-lg" 
      [ngClass]="{'text-white': showClass, 'bg-indigo-600': showClass}">
      Hours
    </h3>
    <div class="p-1.5">
      <p style="display: flex; justify-content: space-between;">Total Number Of Hours: 
        <span style="font-weight: bold; margin-left: 1rem;">
          {{employeSalaryData.totalNumberOfHours == 0 ? '' : employeSalaryData.totalNumberOfHours + 'h'}}
        </span>
      </p>
      <p style="display: flex; justify-content: space-between;">Total Number Of Working Hours: 
        <span style="font-weight: bold; margin-left: 1rem;">
          {{employeSalaryData.totalNumberOfWorkingHours == 0 ? '' : employeSalaryData.totalNumberOfWorkingHours + 'h'}}
        </span>
      </p>
      <p style="display: flex; justify-content: space-between;">Sickness100:
        <span style="font-weight: bold; margin-left: 1rem;">
          {{employeSalaryData.sickness100 == 0 ? '' : employeSalaryData.sickness100 + 'h'}}
        </span>
      </p>
      <p style="display: flex; justify-content: space-between;">Sickness60: 
        <span style="font-weight: bold; margin-left: 1rem;"> 
          {{employeSalaryData.sickness60 == 0 ? '' : employeSalaryData.sickness60 + 'h'}}
        </span>
      </p>
      <p style="display: flex; justify-content: space-between;">Hours Of Annual Vacation: 
        <span style="font-weight: bold; margin-left: 1rem;"> 
          {{employeSalaryData.hoursOfAnnualVacation == 0 ? '' : employeSalaryData.hoursOfAnnualVacation + 'h'}}
        </span>
      </p>
      <p style="display: flex; justify-content: space-between;">Working Hours For The Holiday: 
        <span style="font-weight: bold; margin-left: 1rem;">
          {{employeSalaryData.workingHoursForTheHoliday == 0 ? '' : employeSalaryData.workingHoursForTheHoliday + 'h'}}
        </span>
      </p>
      <p style="display: flex; justify-content: space-between;">Over Time Hours: 
        <span style="font-weight: bold; margin-left: 1rem;">
          {{employeSalaryData.overtimeHours == 0 ? '' : employeSalaryData.overtimeHours + 'h'}}
        </span>
      </p>
      <p style="display: flex; justify-content: space-between;">Credits: 
        <span style="font-weight: bold; margin-left: 1rem;">
          {{employeSalaryData.credits == 0 ? '' : employeSalaryData.credits + 'h'}}
        </span>
      </p>
      <p style="display: flex; justify-content: space-between;">Damage Compensation: 
        <span style="font-weight: bold; margin-left: 1rem;">
          {{employeSalaryData.damageCompensation == 0 ? '' : employeSalaryData.damageCompensation + 'h'}}
        </span>
      </p>
      <p style="display: flex; justify-content: space-between;">Holiday Bonus: 
        <span style="font-weight: bold; margin-left: 1rem;">
          {{employeSalaryData.holidayBonus == 0 ? '' : employeSalaryData.holidayBonus + 'din'}}
        </span>
      </p>
      <p style="display: flex; justify-content: space-between;">Meal Allowance: 
        <span style="font-weight: bold; margin-left: 1rem;">
          {{employeSalaryData.mealAllowance == 0 ? '' : employeSalaryData.mealAllowance + 'din'}}
        </span>
      </p>
    </div>
</div>