<div>
  <app-employe-salary-list-select  (changeEnployeEvent)="onChangeSelect($event)"></app-employe-salary-list-select>
</div>
<div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-300 shadow-md rounded-lg">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="py-2 px-4 border-b">ID</th>
          <th class="py-2 px-4 border-b">Total Hours</th>
          <th class="py-2 px-4 border-b">Working Hours</th>
          <th class="py-2 px-4 border-b">Sickness 100%</th>
          <th class="py-2 px-4 border-b">Sickness 60%</th>
          <th class="py-2 px-4 border-b">Annual Vacation</th>
          <th class="py-2 px-4 border-b">Holiday Hours</th>
          <th class="py-2 px-4 border-b">Overtime Hours</th>
          <th class="py-2 px-4 border-b">Credits</th>
          <th class="py-2 px-4 border-b">Damage Compensation</th>
          <th class="py-2 px-4 border-b">Holiday Bonus</th>
          <th class="py-2 px-4 border-b">Meal Allowance</th>
          <th class="py-2 px-4 border-b" colspan="2">Gross Salary</th>
          <!-- <th class="py-2 px-4 border-b">Neto Salary</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salary of employeSalary | async" class="even:bg-gray-100">
          <!-- <td class="py-2 px-4 border-b">{{ salary.id }}</td> -->
          <td routerLink="/employes/salary/detail-salary/{{salary.id}}" class="py-2 px-4 border-b">{{ salary.totalNumberOfHours }}</td>
          <td *ngIf="salary.employeId">
            <app-employe-salary-list-employes [employeId]="salary.employeId"></app-employe-salary-list-employes>
          </td>
          <td class="py-2 px-4 border-b">{{ salary.totalNumberOfWorkingHours }}</td>
          <td class="py-2 px-4 border-b">{{ salary.sickness100 }}</td>
          <td class="py-2 px-4 border-b">{{ salary.sickness60 }}</td>
          <td class="py-2 px-4 border-b">{{ salary.hoursOfAnnualVacation }}</td>
          <td class="py-2 px-4 border-b">{{ salary.workingHoursForTheHoliday }}</td>
          <td class="py-2 px-4 border-b">{{ salary.overtimeHours }}</td>
          <td class="py-2 px-4 border-b">{{ salary.credits }}</td>
          <td class="py-2 px-4 border-b">{{ salary.damageCompensation }}</td>
          <td class="py-2 px-4 border-b">{{ salary.holidayBonus }}</td>
          <td class="py-2 px-4 border-b">{{ salary.mealAllowance }}</td>
          <td class="py-2 px-4 border-b">
            <p class="flex">{{ 'DeductionHealth:' + salary.employeSalarySO?.deductionHealth }}</p>
            <p>{{ 'DeductionPension:' + salary.employeSalarySO?.deductionPension }}</p>
            <p>{{ 'ExpenseOfTheEmployer:' + salary.employeSalarySO?.expenseOfTheEmployer }}</p>
            <p>{{ 'GrossSalary:' + salary.employeSalarySO?.grossSalary }}</p>
          </td>
          <td class="py-2 px-4 border-b">
            <p>DeductionHealth:<span class="font-bold">{{ salary.employeSalarySOE?.deductionHealth }}</span></p>
            <p>DeductionPension:<span class="font-bold">{{ salary.employeSalarySOE?.deductionPension }}</span></p>
            <p>DeductionTaxRelief:<span class="font-bold">{{ salary.employeSalarySOE?.deductionTaxRelief }}</span></p>
            <p>DeductionUnemployment:<span class="font-bold">{{ salary.employeSalarySOE?.deductionUnemployment }}</span></p>
            <p>ExpenseOfTheEmploye:<span class="font-bold">{{ salary.employeSalarySOE?.expenseOfTheEmploye }}</span></p>
            <p>NetoSalary:<span class="font-bold">{{ salary.employeSalarySOE?.netoSalary }}</span></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  