<div class="mb-6">
    <label for="employeId" class="block text-sm font-medium text-gray-700">Select Employee</label>
    <select (change)="onChangeSelect(changeSelect.value)" #changeSelect id="employeId" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
      <ng-container *ngIf="employe | async as e">
        <option [value]="e.id">{{e.firstName}} {{e.lastName }}</option>
      </ng-container>
      <ng-container *ngIf="employes | async as es">
        <option *ngIf="!employe" value="">-- Select an Employee --</option>
        <option *ngFor="let employee of employes | async" [value]="employee.id">{{ employee.firstName }} {{ employee.lastName }}</option>
      </ng-container>
    </select>
  </div>