<div class="h-fit" [ngClass]="{'border': showClass, 'border-indigo-600': showClass, 'rounded-md': showClass}">
    <h3 style="text-align: center;" class="text-lg" [ngClass]="{'text-white': showClass, 'bg-indigo-600': showClass}">Employee Salary SOE</h3>
    <div *ngIf="employeSalarySOE" class="p-1.5">
      <div *ngFor="let key of onGetKeysWithoutFirstAndLast(employeSalarySOE)">
        <p style="display: flex; justify-content: space-between;">{{ onFormatKey(key) }}: 
          <span style="font-weight: bold; margin-left: 1rem;">
            {{ employeSalarySOE[key] == 0 ? '' : employeSalarySOE[key] + 'din'}}
          </span>
        </p>
      </div>
    </div>
</div>    