<nav>
    <ul class="flex gap-5 justify-center items-center">
        <li routerLinkActive="text-white"><a routerLink="/employes/employe-list">Employes</a></li>
        <li routerLinkActive="text-white"><a routerLink="/employes/employe-salarys">Salarys</a></li>
        <li routerLinkActive="text-white"><a routerLink="/employes/employe-vacation">Vacation</a></li>
        <li routerLinkActive="text-white"><a routerLink="/admin">Admin</a></li>
        <li routerLinkActive="text-white"><a routerLink="/account/login">Login</a></li>
    </ul>
</nav>