<nav>
    <ul class="flex gap-5 justify-center items-center">
        <li routerLinkActive="text-white"><a routerLink="/employes/employe">Employes</a></li>
        <li routerLinkActive="text-white"><a routerLink="/employes/salary">Salarys</a></li>
        <li routerLinkActive="text-white"><a routerLink="/employes/annual-leave">Vacation</a></li>
        <li routerLinkActive="text-white"><a routerLink="/admin">Admin</a></li>
        <li routerLinkActive="text-white"><a routerLink="/account/login">Login</a></li>
    </ul>
</nav>