<!-- <button *ngIf="showFilter == false" class="text-sm block md:hidden bg-indigo-600 px-3 py-2 text-white rounded-md" (click)="toggleFilter(true)">Show Filters</button>
<div *ngIf="showFilter == true" class="grid grid-cols-2 gap-1.5 md:hidden bg-indigo-600 text-black text-sm rounded-md p-2 md:gap-3">
    <button (click)="toggleFilter(false)" class="text-rose-600 flex justify-start md:hidden">Hide filters</button>
    <div *ngIf="showDiv == true"></div>
    <div *ngFor="let cb of filterParams; let i = index;">
        <label class="flex gap-2" [ngClass]="{'text-white' : cb.chacked}">
            <input (change)="onChangeInput(cb)" [checked]="cb.chacked" type="checkbox"/>
            {{ cb.showName }}
        </label>
    </div>
</div>
<div class="hidden md:flex md:justify-between md:flex-wrap bg-indigo-600 text-black text-sm rounded-md p-2 md:gap-3">
    <div *ngFor="let cb of filterParams; let i = index;">
        <label class="flex gap-2" [ngClass]="{'text-white' : cb.chacked}">
            <input (change)="onChangeInput(cb)" [checked]="cb.chacked" type="checkbox"/>
            {{ cb.showName }}
        </label>
    </div>
</div> -->

<!-- <button (click)="setuj()">Click</button>
<div class="grid grid-rows-[0] transition duration-1000" [ngClass]="{'grid': zaset == false,'grid-rows-[1fr]': zaset == false}">
    <div class="grid grid-cols-2 gap-1.5 md:hidden overflow-hidden transition duration-500 bg-indigo-600 text-black text-sm rounded-md p-2 md:gap-3">
        <button (click)="toggleFilter(false)" class="text-rose-600 flex justify-start md:hidden">Hide filters</button>
        <div *ngIf="showDiv == true"></div>
        <div *ngFor="let cb of filterParams; let i = index;">
            <label class="flex gap-2" [ngClass]="{'text-white' : cb.chacked}">
                <input (change)="onChangeInput(cb)" [checked]="cb.chacked" type="checkbox"/>
                {{ cb.showName }}
            </label>
        </div>
    </div> -->

    <div class="md:hidden bg-indigo-600 rounded-md relative p-1" >
        <button *ngIf="zaset == false" class="w-full absolute -inset-1 rounded-md text-white" (click)="setuj()">Show filters</button>
        <div  class="grid grid-rows-[0fr] p-1 transition-all duration-[550ms]" [ngClass]="{'grid-rows-[1fr]': zaset == true}">
            <div class="grid grid-cols-2 gap-1.5 md:hidden overflow-hidden  text-black text-sm rounded-md p-2 md:gap-3">
                <button (click)="setuj()" class="w-fit text-rose-600 overflow-hidden flex justify-start md:hidden">Hide filters</button>
                <div *ngIf="showDiv == true"></div>
                <div class="overflow-hidden " *ngFor="let cb of filterParams; let i = index;">
                    <label class="flex gap-2" [ngClass]="{'text-white' : cb.chacked}">
                        <input (change)="onChangeInput(cb)" [checked]="cb.chacked" type="checkbox"/>
                        {{ cb.showName }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden md:flex md:justify-between md:flex-wrap bg-indigo-600 text-black text-sm rounded-md p-2 md:gap-3">
        <div *ngFor="let cb of filterParams; let i = index;">
            <label class="flex gap-2" [ngClass]="{'text-white' : cb.chacked}">
                <input (change)="onChangeInput(cb)" [checked]="cb.chacked" type="checkbox"/>
                {{ cb.showName }}
            </label>
        </div>
    </div>



