<button *ngIf="showFilter == false" class="text-sm block md:hidden bg-indigo-600 px-3 py-1.5 text-white rounded-md" (click)="toggleFilter(true)">Open Filters</button>
<div *ngIf="showFilter == true" class="grid grid-cols-2 gap-1.5 md:hidden bg-indigo-600 text-black text-sm rounded-md p-2 md:gap-3">
    <button (click)="toggleFilter(false)" class="text-rose-600 flex justify-start md:hidden">Close filters</button>
    <div *ngFor="let cb of filterParams; let i = index;">
        <label class="flex gap-2" [ngClass]="{'text-white' : cb.chacked}">
            <input (change)="onChangeInput(cb)" [checked]="cb.chacked" type="checkbox"/>
            {{ cb.showName }}
        </label>
    </div>
</div>
<div class="hidden md:flex md:justify-between md:flex-wrap bg-indigo-600 text-black text-sm rounded-md p-2 md:gap-3">
    <div *ngFor="let cb of filterParams; let i = index;">
        <label class="flex gap-2" [ngClass]="{'text-white' : cb.chacked}">
            <input (change)="onChangeInput(cb)" [checked]="cb.chacked" type="checkbox"/>
            {{ cb.showName }}
        </label>
    </div>
</div>
