@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
}

.modal::backdrop {
    background: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(0.2rem);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    /* padding: 20px; */
    border: 2px solid #4F46E5;
    border-radius: 5px;
}

.netoSalaryModal::backdrop {
    background: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(0.2rem);
}

.netoSalaryModal {
    position: fixed;
    top: 50%;
    left: 50%; 
    height: fit-content;
    min-width: fit-content;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    /* padding: 20px; */
    border: 2px solid #4F46E5;
    border-radius: 5px;
}

.previewModal::backdrop {
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(0.2rem);
}

.previewModal {
    position: fixed;
    top: 50%;
    left: 50%; 
    height: fit-content;
    min-width: 60%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    /* padding: 20px; */
    border: 2px solid #4F46E5;
    border-radius: 5px;
}


/* 
.modalMessage::backdrop {
  background: hsla(0, 0%, 100%, 0.1);
      backdrop-filter: blur(0.1rem);
}

.modalMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(195, 197, 195);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
} */

@media only screen and (max-width: 768px) {
    .modal {
        width: 100%;
    }
    .netoSalaryModal {
        width: 100%!important;
    }
  }

@media only screen and (max-width: 1280px) {
    .netoSalaryModal {
        width: 80%;
    }
}