<div style="display: flex; flex-direction: column; width: 80%; margin: 0 auto;" >
    <div style="display: flex; justify-content: space-between;">
      <div>
        <h3>Podaci o poslodavcu</h3>
        <p>MITROSREM</p>
        <p>SREM.MITROVICA</p>
        <p>TRG VOJVODJANSKIH BRIGADA 3</p>
        <p>PIB : 10091677</p>
        <p>MB : 91064225</p>
        <p>BANKA INTESA : 890-361442-11</p>
      </div>
    </div>
    <div style="margin-top: 1.5rem;" *ngIf="bankData.length > 0">
      <table style="border: 1px solid black; width: 100%; border-collapse: collapse;">
        <thead>
            <tr style="border-bottom: 1px solid black;">
                <th style="padding: 0.5rem; border: 1px solid black;">Ime banke</th>
                <th style="border: 1px solid black;">Žiro račun</th>
                <th style="border: 1px solid black;">Iznos za uplatu</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bank of bankData">
                <td style="padding: 0.5rem 1rem; border: 1px solid black;">{{bank.bankName}}</td>
                <td style="border: 1px solid black; text-align: center;">{{bank.bankAccount}}</td>
                <td style="padding: 0.5rem 1rem; border: 1px solid black; text-align: end;"><strong>{{bank.totalNetSalary}} din</strong></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div style="text-align: end; padding: 0.5rem 1rem; margin-top: 0.5rem;">
      <strong>Total: {{total}} din</strong>
    </div>
  </div>