<div class="grid grid-rows-[auto,1fr] h-full">
  <h2 class="text-center text-xl p-5">Detalji o zaposlenom</h2>
  <div class="grid grid-cols-[0.6fr,1fr] h-full justify-center gap-5 px-5"  *ngIf="employe | async as employeData">
    <div>
      <app-employe-item 
        [employe]="employeData" 
        [showModalInDetail]="true">
      </app-employe-item>
    </div>
    <div class="grid grid-cols-2 gap-5 h-fit">
      <div class="border border-indigo-600 rounded-md">
        <div>
          <h3 class="text-center bg-indigo-600 text-white text-lg">Details</h3>
        </div>
        <div class="">
          <div class="flex justify-between p-1" *ngFor="let key of onGetKeysWithoutFirstAndLast(employeData)">
            <strong>{{ onFormatKey(key) }}:</strong>
            <ng-container *ngIf="key === 'dateOfBirth' || key === 'dateOfEmployment'; else defaultFormat">
              {{ employeData[key] | date:'dd.MM.yyyy' }}
            </ng-container>
            <ng-template #defaultFormat>
              {{ employeData[key] }}
            </ng-template>
          </div>
        </div>
      </div>
      <div *ngIf="employeData['employeChild']">
        <app-employe-child [employeChild]="employeData['employeChild']"></app-employe-child>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="this.employeService.employeSubject.value !== null">
  <app-employe-modal [isDetail]="false"></app-employe-modal>
</ng-container>